{{#2}}
{{> search/bearings }}
{{/2}}

{{#5}}
{{> search/auto }}
{{/5}}

{{#1}}
{{> search/machines }}
{{/1}}

{{#4}}
{{> search/faucets }}
{{/4}}

{{#3}}
{{> search/parts }}
{{/3}}

{{#6}}
{{> search/moto }}
{{/6}}

{{#geral}}
{{> search/geral }}
{{/geral}}