<div class="modern-table-container">
    <table class="modern-table tablesorter">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">RecordName</th>
                <th scope="col">NewContent</th>
                <th scope="col">UserId</th>
                <th scope="col">Datetime</th>
            </tr>
        </thead>
        <tbody>
            {{#response}}
            <tr>
                <th scope="row">{{count}}</th>
                <td>{{RecordName}}</td>
                <td>{{NewContent}}</td>
                <td>{{UserId}}</td>
                <td>{{Datetime}}</td>
            </tr>
            {{/response}}
            {{^response}}
            <tr>
                <td colspan="5" class="text-center text-muted">Sem Histórico desse item</td>
            </tr>
            {{/response}}
        </tbody>
    </table>
</div>

<script>

    $(function () {
        $(".tablesorter").tablesorter();
    });

</script>